<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">E-Mall Web Application</h1>
    <p class="lead">Product is still in development, there is no relevant information</p>
    <LinkTo @route="home" class="btn btn-primary">
      Return to Home Page
    </LinkTo>
  </div>
</div>