<div class="container-fluid pt-5">
  <h2 class="pt-5">Shopping Cart</h2>
  <div class="align-center">
    <CartList>
    </CartList>
  </div>

  <LinkTo @route="checkout" class="btn btn-primary float-right">
    Check Out
  </LinkTo>

</div>
{{outlet}}