<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{this.model.name}}</h1>
    <div>
      <img src={{this.model.image}} alt="image">
    </div>
    <p class="lead">
      <strong>price : </strong> 
      {{this.model.price}}
    </p>
    <p class="lead">
      {{this.model.intro}}
    </p>
    <LinkTo @route="home" class="btn btn-primary">
      Return to Home Page
    </LinkTo>
  </div>
</div>