<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">E-Mall Web Application Demo</h1>
    <p class="lead">Hi, This is Max. I started to explore the ember framework, as it is a powerful technology, before developing the development of this app. I only had some basic knowledge of it, as development went along, this framework surprised me a lot, and I believe it would be definitely as a productive framework to create a web app. </p>
    <p>Please check this github link for details <a href="https://github.com/laboratoryyingong/e-mall">Links</a></p>
    <LinkTo @route="home" class="btn btn-primary">
      Return to Home Page
    </LinkTo>
  </div>
</div>
{{outlet}}